name: deploy-container

on: 
  push:
    branches:
    # or master
      - main
    # paths:
     # run when the changes are accored in this directory
      # - 'packages/container/**'

defaults:
  run:
  # ex.: npm run ..; root from where to run commands
    working-directory: packages/container

jobs:
  build:
  # specifing virtual machine
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: npm install
      # creates dist directory
      - run: npm run build

        # access to aws cli
      - uses: chrislennon/action-aws-cli@v1.1
      # sync dist with s3
      - run: aws s3 sync dist s3://${{ secrets.AWS_S3_BUCKET_NAME }}/container/latest
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}